<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/map4rt/src/main/java/cz/agents/map4rt/ScenarioCreator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cz.agents.map4rt.ScenarioCreator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-method ORCA -problemfile /home/capino/projects/deconflictiontools/map/temp/temp.xml -ntasks 2 -maxtime 800000 -timestep 540 -seed 11 -showvis -bgimgx /home/capino/projects/deconflictiontools/map/environments/ubremen.png -summaryprefix &quot;asdfasdf;&quot; -timeout 1000000"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="map4rt"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/capino/projects/deconflictiontools/src/main/resources"/>
</launchConfiguration>
